<!-- display.nunjucks -->
{% from "templates/partials/_modal.njk" import modal %}
{% set title='Display' %}
{% extends "base.njk" %}

{% block stylesheet %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<link href="{{ baseUrl }}/app/dist/styles/queue.css" rel="stylesheet">
<link href="{{ baseUrl }}/app/dist/styles/inner.css" rel="stylesheet">
{% endblock %}



{% block content %}

<div>
   
    <div>
        <div class="row">
            <div class="col-md-8">
                <div class="align-items-center d-flex justify-content-center vid px-5">

                        <iframe width="1280" height="720" class="w-100" src="https://www.youtube.com/embed/pRfmrE0ToTo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  
                

                </div>

            </div>

            <div class="col-md-4">
                <div class="stats list px-3 pt-4">
                        <div class="card  text-center">
                              
                                <h1 class="font-weight-normal">Teller #1</h1>
                                <hr>
                                <h6 class="text-muted font-weight-light">Ticket number</h6>
                                <h1 class="font-weight-normal text-center">123433</h1>
            
                            </div>
                            <div class="card  text-center">
                              
                                    <h1 class="font-weight-normal">Teller #1</h1>
                                    <hr>
                                    <h6 class="text-muted font-weight-light">Ticket number</h6>
                                    <h1 class="font-weight-normal text-center">123433</h1>
                
                                </div>
                                <div class="card  text-center">
                              
                                        <h1 class="font-weight-normal">Teller #1</h1>
                                        <hr>
                                        <h6 class="text-muted font-weight-light">Ticket number</h6>
                                        <h1 class="font-weight-normal text-center">123433</h1>
                    
                                    </div>
                                <div class="card  text-center">
                              
                                        <h1 class="font-weight-normal">Teller #1</h1>
                                        <hr>
                                        <h6 class="text-muted font-weight-light">Ticket number</h6>
                                        <h1 class="font-weight-normal text-center">123433</h1>
                    
                                    </div>
                                    <div class="card  text-center">
                              
                                            <h1 class="font-weight-normal">Teller #1</h1>
                                            <hr>
                                            <h6 class="text-muted font-weight-light">Ticket number</h6>
                                            <h1 class="font-weight-normal text-center">123433</h1>
                        
                                        </div>
                                        <div class="card  text-center">
                              
                                                <h1 class="font-weight-normal">Teller #1</h1>
                                                <hr>
                                                <h6 class="text-muted font-weight-light">Ticket number</h6>
                                                <h1 class="font-weight-normal text-center">123433</h1>
                            
                                            </div>

                </div>

            </div>
        
        </div>
    </div>

   

</div>





{% endblock %}