<!-- 0verview.nunjucks -->
{% set title='Overview' %}
{% extends "site_base.njk" %}

{% block stylesheet %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<link href="{{ baseUrl }}/app/dist/styles/inner.css" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="title pr-3">
    <h3 class="float-left">Daily Requests</h3>
    <a href="#" class="btn float-right btn-primary">Settings</a>
</div>


<div>
    <div class="row">
        <div class="col-md-8 p-0">
                <div class="card bar-chart">
                    <div class="pl-4"> 
                        <p class="mb-1 font-weight-light">Daily Requests</p>
                        <p class="text-muted small font-weight-light">16 - 23 September 2017</p>
                    </div>

                    <div>
                        <canvas id="activity" width="300" height="100"></canvas>
                    </div>
                    
                  
    
                </div>

                <div class="row">
                    <div class="col-md-6 pl-0">
                        <div class="card bar-chart">
                                <div class="pl-4"> 
                                    <p class="mb-1 font-weight-light">Session Breakdown</p>
                                    <p class="text-muted small font-weight-light">16 - 23 September 2017</p>
                                </div>
                                <div>
                                    <canvas id="activity-pie" height="220" ></canvas>
                                </div>

                        </div>
                    </div>
                    <div class="col-md-6 pr-0">
                        <div class="card bar-chart">
                                <div class="pl-4"> 
                                    <p class="mb-1 font-weight-light">Recent Requests</p>
                                </div>
                                <div class="recent-requests">
                                    <table class="table">
                                        <tbody>
                                            {% for i in range(0, 3) -%}
                                                <tr>
                                                    <td colspan="2">
                                                        <span class="legend legend-warning">+233244234567</span>
                                                    </td>
                                                    <td class="text-muted text-right">
                                                            23rd June, 2018
                                                    </td>
                                                
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <span class="legend legend-success">+233244234567</span>
                                                    </td>
                                                    <td class="text-muted text-right">
                                                            23rd June, 2018
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <span class="legend legend-primary">+233244234567</span>
                                                    </td>
                                                    <td class="text-muted text-right">
                                                            23rd June, 2018
                                                    </td>
                                                    
                                                </tr>
                                            {%- endfor %}
                                        </tbody>
                                    </table>
                                </div>

                        </div>
                    </div>
                </div>

        </div>
        <div class="col-md-4">
            <div class="card sim">
                    <div class="text-center"> 
                        <p class="mb-1 font-weight-light">USSD Application</p>
                    </div>

                    <div class="ussd-text">
                        <p>Welcome to Test App USSD service. This prompt just displays a message. Thank you for trying it out.</p>
                         <input type="text" class="form-control mb-3">
                         <button class="btn text-primary px-0">OK</button>

                    </div>

            </div>

        </div>

    </div>
</div>



{% block scripts %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
    var customersTrendChartCanvas = document.getElementById("activity").getContext('2d');
    var progress = document.getElementById('animationProgress');

    var purple_orange_gradient = customersTrendChartCanvas.createLinearGradient(0, 0, 0, 600);
        purple_orange_gradient.addColorStop(0, '#640AE2'); 
        purple_orange_gradient.addColorStop(1, 'rgb(184, 150, 211)');

    var customersTrendChart = new Chart(customersTrendChartCanvas, {
        type: 'bar',
        data: {
            labels: [ "January", "February", "March", "April", "May", "June","January", "February", "March", "April", "May", "June" ],
            datasets: [{
                label: 'Activities',
                data: [10,30,20,50,20,40,10,30,20,50,20,40],
                backgroundColor: purple_orange_gradient,
                borderColor: purple_orange_gradient,
                hoverBackgroundColor: purple_orange_gradient
               
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,

                    }
                   
                }],
                xAxes: [{
                  
                    gridLines: {
                                display:false
                            }
                }]
            }
        
        }
    });


      var customersTrendChartCanvas = document.getElementById("activity-pie").getContext('2d');
    var progress = document.getElementById('animationProgress');

    var purple_orange_gradient = customersTrendChartCanvas.createLinearGradient(0, 0, 0, 600);
        purple_orange_gradient.addColorStop(0, '#640AE2'); 
        purple_orange_gradient.addColorStop(1, 'rgb(184, 150, 211)');

    //  Chart.defaults.global.legend.display = false;

    var customersTrendChart = new Chart(customersTrendChartCanvas, {
        type: 'pie',
        data: {
            labels: [ "Crashes", "Terminations", "Time Outs", "Successful"],
            datasets: [{
                label: 'Activities',
                data: [10,30,20,50],
                backgroundColor: [
                        '#640AE2',
                        '#9253EA',
                        '#B184F0',
                        '#D0B5F6'
                    ]
               
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'bottom',
            },
           
            scales: {
                xAxes: [{
                            gridLines: {
                                display:false
                            },
                            drawBorder: false,
                            ticks: {
                                display: false

                    }

                        }],
                yAxes: [{
                            gridLines: {
                                display:false
                            },
                            drawBorder: false,
                            ticks: {
                                display: false
                            }
                        }]
            }
        
        }
    });
</script>


{% endblock %}



{% endblock %}